<div class="container">
  <h1>Instrucciones</h1>
  <ul>
    <li>Introduce un nombre para guardar tu juego en tus estadísticas</li>
    <li>Elige una tirada entre piedra, papel, tijera, lagarto o Spock.</li>
  </ul>
  <section>
    <table>
      <thead>
        <th colspan="6">Reglas del juego</th>
      </thead>
      <tbody>
        <tr>
          <th>Opción</th>
          <th colspan="2">Gana a</th>
          <th colspan="2">Pierde contra</th>
          <th>Empata con</th>
        </tr>
        <tr>
          <th>Tijera</th>
          <td>Papel</td>
          <td>Lagarto</td>
          <td>Spock</td>
          <td>Piedra</td>
          <td>Tijera</td>
        </tr>
        <tr>
          <th>Papel</th>
          <td>Piedra</td>
          <td>Spock</td>
          <td>Lagarto</td>
          <td>tijera</td>
          <td>Papel</td>
        </tr>
        <tr>
          <th>Piedra</th>
          <td>Tijera</td>
          <td>Lagarto</td>
          <td>Papel</td>
          <td>Spock</td>
          <td>Piedra</td>
        </tr>
        <tr>
          <th>Lagarto</th>
          <td>Spock</td>
          <td>Papel</td>
          <td>Tijera</td>
          <td>Piedra</td>
          <td>Lagarto</td>
        </tr>
        <tr>
          <th>Spock</th>
          <td>Tijera</td>
          <td>Piedra</td>
          <td>Papel</td>
          <td>Lagarto</td>
          <td>Spock</td>
        </tr>
      </tbody>
    </table>
    <div class="buttons">
      <button routerLink="/juego">Ir al juego</button>
      <button routerLink="/estadisticas">Ir a estadísticas</button>
    </div>
  </section>
</div>
