<div class="container">
    <section>
        <div>
            <h2>{{juego?.nombreJugador}}</h2>
            <h2 *ngIf="juego?.nombreJugador == undefined">Jugador</h2>
            <figure *ngIf="juego?.eleccionJugador">
                <img src="/assets/img/{{juego?.eleccionJugador}}.png" alt="juego?.eleccionJugador">
            </figure>
        </div>
        <div>
            <h1>VS</h1>
        </div>
        <div>
            <h2>Ordenador</h2>
            <figure *ngIf="juego?.eleccionOrdenador" class="inverted">
                <img src="/assets/img/{{juego?.eleccionOrdenador}}.png" alt="juego?.eleccionOrdenador">
            </figure>
        </div>
    </section>
    <section>
        <div class="resultado">
            <p>Resultado de la partida:</p>
            <p>{{juego?.descripcion}}</p>
            <h3 *ngIf="juego?.resultado == 1">HAS GANADO</h3>
            <h3 *ngIf="juego?.resultado == -1">HAS PERDIDO</h3>
            <h3 *ngIf="juego?.resultado == 0">EMPATE</h3>

        </div>
    </section>
    <form [formGroup]="formPartida" (ngSubmit)="save()">
        <div>
            <label for="nombre">Nombre: </label>
            <input type="text" formControlName="nombreJugador">
        </div>

        <fieldset>
            <div *ngFor="let option of formOptions">
                <input type="radio" formControlName="eleccionJugador" value={{option.value}}>
                <label for={{option.for}}>
                    <img src={{option.img}} alt={{option.for}}>
                </label>
            </div>

        </fieldset>
        <button type="submit">Jugar</button>
    </form>
</div>