<div class="container">
    <h2>Partidas</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Jugada</th>
                <th>PC</th>
                <th>Resultado</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jugador of estadisticas">
                <td>{{jugador.nombreJugador}}</td>
                <td>{{jugador.eleccionJugador}}</td>
                <td>{{jugador.eleccionOrdenador}}</td>
                <td *ngIf="jugador.resultado == -1">PIERDE</td>
                <td *ngIf="jugador.resultado == 0">EMPATA</td>
                <td *ngIf="jugador.resultado == 1">GANA</td>
                <td>{{jugador.fecha}}</td>
            </tr>

        </tbody>
    </table>
</div>