@import "../../../variables.scss";
table {
    box-shadow: $box-shadow;
    thead {
      padding: 10px;
      background-color: $secondary-color-bg;
      th {
        padding: 8px 10px;
      }
    }
    tbody {
      tr {
        th,
        td {
          padding: 8px 10px;
        }
      }
      tr:nth-child(odd) {
        background-color: $secondary-light-bg;
      }
      tr:nth-child(even) {
        background-color: $secondary-lightest-bg;
      }
      tr:first-child {
        background-color: white;
      }
    }
  }
