@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 35px;
}
button {
  padding: 7px 0;
  width: 150px;
  background-color: $main-color-bg;
  border-radius: 4px;
  box-shadow: $box-shadow;
  color: white;
  border: none;
}
button:hover {
  background-color: $hover-color-bg;
  cursor: pointer;
}
